.bg-green-aqua{
    background-color: #4DB889;
}

.bg-dark-blue{
    background-color: #074173;
}

.fs-0{
    font-size: 4em;
    color: white;
}
.icono{
    display: flex;
    align-items: center;
    color: white;
}
.interior1{
    height: 214px;
}

.interior2{
    height: 214px;
}

.interior3{
    height: 214px;
}

.interior4{
    height: 214px;
}

.anuncio{
    align-items: center;
}

